@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes marqueeLine {
    0% {
      transform: translateY(40%);
    }
    
    100% {
      transform: translateY(-100%);
    }
}